*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.text{
    color: #DF7861;
    display: block;
    width: fit-content;
    margin: 150px auto;
    font-size: large;
}
.tooltip{
    position: relative;
}
.tooltip-text{
    position: fixed;
    /* transform: translate(-50%, -120%); */
    background-color: #3d6ef7;
    padding: 10px 20px;
    display: block;
    color: aliceblue;
    border-radius: 20px;
}
.tooltip-text::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3d6ef7;
}